# Ignorar node_modules e diretórios específicos
node_modules/
livros/
logs/
dist/
build/
out/

# Ignorar arquivos de configuração e banco de dados
.env
*.db

# Ignorar arquivos temporários e de log
*.tmp
*.log

# Ignorar configurações do VSCode
.vscode/
