# Diretórios e arquivos de dados gerados
livros/
logs/
dist/
build/
out/
data/

# Configurações específicas de ambiente
.env
*.db


# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp
*.json

# Pastas e arquivos do Virtual Environment (venv)
.venv/
venv/
ENV/
env.bak/
env/

# Configurações de IDEs (VSCode, PyCharm, etc.)
.vscode/
.idea/

# Ignorar cache do Python
__pycache__/
*.py[cod]
*.pyo

# Arquivos de pacotes e builds
*.egg-info/
*.eggs/
pip-log.txt

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db
